/HIP/HIP-DAO/target/
/HIP/HIP-SERVER/target/
/HIP/HIP-RIM/target/
/HIP-SERVER/CLINIC-SERVER/target/
/HIP-SERVER/HIP-DAO/target/
/HIP-SERVER/HIP-RIM/target/
/HIP-BASE/HIP-RIM/target/
/mybatis-generator/build/
/mybatis-generator/.nb-gradle/
/HIP-BASE/HIP-DAO/nbproject/
/HIP-BASE/HIP-DAO/target/
/HIP-CLIENT/HIP-CLIENT-AMB/target/